<header>
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <h1 class="roboto-bold">{{headerData.titulo}}</h1>
      <div class="col-auto" id="navbarNav">
        <!-- Boton -->
        <ng-template [ngIf]="headerData.tieneBoton" >
          <button class="noBG" (click)="redirigirBtn()">
            <span class="button-text">{{headerData.textoBoton}}</span>
            <img class="icon" [src]="'/Stock-Master-Solutions_-SMS-/assets/' + headerData.imagen" alt="{{headerData.nombreImagen}}">
          </button>
        </ng-template>
      </div>
    </div>
  </nav>
</header>