.btnDevolucion {
  border: 2px solid black;
  text-align: center;
  background-color: #16e550;
  border-radius: 8px;
  color: black;
  height: 45px;
  width: 230px;
}

button:disabled {
  color: #666666;
  /* Color de texto gris oscuro */
  cursor: not-allowed;
  /* Cursor no permitido */
  opacity: 0.6;
  /* Opacidad reducida */
}