<header-principal [datosHeader]="datosHeader" />
<div class="container mt-4">
    <form [formGroup]="formDevolucion" (ngSubmit)="agregarDevolucion()">
        <!-- Primera fila -->
        <div class="row mb-3">
            <div class="col">
                <label for="productId" class="form-label">ID del Producto</label>
                <input type="number" class="form-control" id="productId" placeholder="Ingrese el ID" 
                formControlName="ProductoID">
            </div>
            <div class="col mt-4">
                <h2>{{ productName }}</h2>
            </div>
        </div>

        <!-- Segunda fila -->
        <div class="row mb-3">
            <div class="col">
                <label for="estadoProducto" class="form-label">Estado del Producto</label>
                <select class="form-select" id="estadoProducto" formControlName="razon">
                    <option *ngFor="let estado of estados" [value]="estado.value">{{ estado.label}}</option>
                </select>
            </div>
        </div>

        <!-- Tercera fila -->
        <div class="row mb-3">
            <div class="col">
                <label for="razonDevolucion" class="form-label">Razón de Devolución</label>
                <textarea class="form-control" id="razonDevolucion" rows="5"
                    placeholder="Escriba la razón de devolución y el estado del producto"></textarea>
            </div>
        </div>
        <button type="submit" class="mt-5 ms-5 btnDevolucion">
            <b>Agregar devolucion</b> <img src="/Stock-Master-Solutions_-SMS-/assets/tienda.svg" alt="">
        </button>
    </form>
</div>
<comp-ventana-emergente [isOpen]="isModalOpen" [title]="modalTitle" [content]="modalContent" (close)="closeModal()" />