<div class="mat-elevation-z8 mt-5">
  <div *ngIf="!tieneDatos" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="tieneDatos">
    <div class="table-container" [ngClass]="{'scrollable-table': nombresColumnas.length > 5}">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table" matSort>
        <!-- Columna de selección (solo si seleccionable es true) -->
        <ng-container *ngIf="datos[0].seleccionable">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="selection.clear()" disabled="true"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? onRowSelection(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
        </ng-container>
      
        <!-- Columnas dinámicas de datos basadas en columnasBase -->
        <ng-container *ngFor="let column of columnasBase" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef class="dynamic-column">{{ column | titlecase }}</th>
          <td mat-cell *matCellDef="let element" class="dynamic-column">{{ element[column] || ' ' }}</td>
        </ng-container>
      
        <!-- Filas de la tabla -->
        <tr mat-header-row *matHeaderRowDef="nombresColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombresColumnas;" (click)="onRowSelection(row)"></tr>
      </table>
      
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div class="mt-5"><comp-barra-busqueda matInput (keyup)="filtroBusqueda($event)" placeholder="Camisa" #input /></div>