<mat-card class="container formulario customContainer">
    <mat-card-content>
        <!-- <h3>{{tiendas[0].nombre}}</h3> -->
        <ul class="col">
            <li class="my-5">
                <h3>Direccion:</h3>
                <!-- <p id="labelDireccion">{{tiendas[0].direccion}}</p> -->
            </li>
            <li class="my-5">
                <h3>Telefono:</h3>
                <!-- <p id="labelTelefono">{{tiendas[0].telefono}}</p> -->
            </li>
            <!-- <li class="my-5">
                <h3>Total de producto:</h3>
                <p id="labelTienda">---</p>
            </li> -->
        </ul>
    </mat-card-content>
</mat-card>