.tituloModal {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: white;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4A1F43 !important;
}

.modal-header .icon {
    margin-left: auto;
}

.modal-body{
    font-size: larger;
}