<!-- <div class="title-bar d-flex justify-content-between align-items-center mb-4">
  <h2>Modificar Usuario</h2>
  <a href="gestionUsuarios" class="back-button">Volver</a>
</div> -->
<header-principal [datosHeader]="datosHeader" />
    <div class="row">
        <div class="form-box p-4">
    <form class="card p-2" (ngSubmit)="modificarUsuario()" [formGroup]="usuarioForm" id="createUserForm">
      <div class="row mb-3">
        <div class="col-md-6" *ngIf="usuario">
          <label for="username" class="form-label">Nombre de Usuario</label>
          <input type="text" class="form-control" id="nombreUsuario" aria-describedby="emailHelp"
            placeholder= "{{ usuario.nombreUsuario }}" formControlName="nombreUsuario" required>
        </div>
        <div class="col-md-6">
          <label for="cedula" class="form-label">Cédula de Ciudadanía</label>
          <input type="text" class="form-control" id="usuarioId" aria-describedby="emailHelp"
            placeholder="{{ usuario.usuarioId }}" formControlName="usuarioId" required pattern="[0-9]*" inputmode="numeric">
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="correoElectronico" aria-describedby="emailHelp"
            placeholder="{{ usuario.correoElectronico }}" formControlName="correoElectronico" required>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="contraseña" aria-describedby="emailHelp"
            placeholder="Contraseña" formControlName="contraseña" required>
        </div>
        <div class="col-md-6">
          <label for="tienda" class="form-label">Tienda</label>
          <select class="form-select" id="tiendaId" aria-describedby="emailHelp" formControlName="tiendaId" required>
            <option value="" selected disabled>Selecciona una tienda</option>
            <option *ngFor="let tienda of lisTienda" [value]="tienda.id">{{ tienda.tienda }}</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="fullname" class="form-label">Nombre Completo</label>
          <input type="text" class="form-control" id="fullname" placeholder="{{ usuario.nombreCompleto }}" formControlName="nombreCompleto"required>
        </div>
        <div class="col-md-6">
          <label for="rol" class="form-label">Rol</label>
          <select class="form-select" id="rol" aria-describedby="emailHelp" formControlName="rol" required>
            <option value="" selected disabled>Selecciona un rol</option>
            <option value="1">Administrador</option>
            <option value="2">Empleado</option>
          </select>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar Usuario</button>
      </div>

    </form>
  </div>
</div>
 
<comp-ventana-emergente [isOpen]="isModalOpen" [title]="modalTitle" 
[content]="modalContent" (close)="closeModal()"></comp-ventana-emergente>