<comp-header-gestion />

<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-7">
            <!-- card muestra stock -->
            <ng-template [ngIf]="selectedOption === 'optionTienda'">
                <ng-container *ngIf="mostrarCRUD; else CRUD" >
                    <comp-tabla [datos]="datosInventarios"/>
                </ng-container>
                <ng-template #CRUD>
                    <comp-card-stock/>
                </ng-template>
            </ng-template>

            <ng-template [ngIf]="selectedOption === 'optionProducto'">
                <comp-tabla [datos]="datosProductos"/>
            </ng-template>

        </div>

        <div class="col">
            
            
            <div class="form-check form-check-inline mx-5">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioTienda"
                    [(ngModel)]="selectedOption" value="optionTienda">
                <label class="form-check-label" for="radioTienda">Tiendas</label>
            </div>

            <div class="form-check form-check-inline mx-5">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioProducto"
                    [(ngModel)]="selectedOption" value="optionProducto">
                <label class="form-check-label" for="radioProducto">Productos</label>
            </div>

            <!-- botones crud -->
            <div class="mt-5">
                <ng-template [ngIf]="selectedOption === 'optionTienda'">
                    <ng-container *ngIf="mostrarCRUD; else CRUD">
                        <comp-selectores (inventariosEnviados)="actualizarInventarios($event)"/>
                    </ng-container>
                    
                    <ng-template #CRUD>
                        <comp-btn-crud [datosBotones]="datosBtnTiendas"/>
                    </ng-template>
                </ng-template>

                <ng-template [ngIf]="selectedOption === 'optionProducto'">
                    <comp-btn-crud [datosBotones]="datosBtn" />
                    <div style="padding-top: 49px;"></div>
                </ng-template>

            </div>

            <!-- boton codigo de barras -->
            <div class="col ms-5">
                <ng-template [ngIf]="selectedOption === 'optionTienda'">
                    <button type="button" class="mt-5 ms-5 btnTienda" (click)="toggleCRUD()">
                        <b> {{mostrarCRUD ? 'Gestionar Tiendas' : 'Ver Inventarios'}} </b> <img src="/Stock-Master-Solutions_-SMS-/assets/tienda.svg"
                            alt="">
                    </button>
                </ng-template>
            </div>
            <!-- <div class="col ms-4">
                <comp-btn-codigo-barras />
            </div> -->
        </div>
    </div>

    
<div *ngIf="isConsultarTiendaVisible" class="modal-overlay" id="consultarTienda">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Digite el id de la tienda</h2>
        </div>
        <div class="modal-body">
            <div class="search-container">
                <input type="text" placeholder="idTienda" [(ngModel)]="idTienda" />
                <button class="search-button" (click)="consultarTienda()">
                    <img src="/Stock-Master-Solutions_-SMS-/assets/buscar.svg" alt="Buscar" class="search-icon">
                    <i class="fas fa-search"></i>
                  </button>
            </div>
            <p *ngIf="tienda">
                La tienda {{ tienda.tienda }} ubicada en {{ tienda.direccion }}
            </p>
        </div>
        <div class="modal-footer">
            <button class="modif-button" (click)="actualizarTienda()">Modificar</button>
            <button class="cancel-button" (click)="closeModalModificar()">Cancelar</button>
        </div>
    </div>
</div>

    <div *ngIf="isEliminarVisible" class="modal-overlay" id="eliminarTienda">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Digite el id de la tienda</h2>
          </div>
          <div class="modal-body">
            <div class="search-container">
              <input type="text" placeholder="idTienda" [(ngModel)]="idTienda" />
              <button class="search-button" (click)="consultarTienda()">
                <img src="/Stock-Master-Solutions_-SMS-/assets/buscar.svg" alt="Buscar" class="search-icon">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <p *ngIf="tienda">
                La tienda {{ tienda.tienda }} ubicada en {{ tienda.direccion }}
            </p>
          </div>
          <div class="modal-footer">
            <button class="delete-button" (click)="confirmacion()">Eliminar</button>
            <button class="cancel-button" (click)="closeModalEliminarT()">Cancelar</button>
          </div>
        </div>
      </div>
    
      <div *ngIf="isConfirmarVisible" class="modal-overlay" id="confirmar">
        <div class="modal-content">
          <div class="modal-header">
            <p></p>
          </div>
          <div class="modal-body">
            <h2>¿Desea eliminar esta tienda?</h2>
          </div>
          <div *ngIf="tienda" class="modal-footer">
            <button class="delete-button"  (click)="tiendaEliminar(tienda.Id)">Aceptar</button>
            <button class="cancel-button" (click)="closeModalConfirmar()">Cancelar</button>
          </div>
        </div>
      </div>
    
</section>
<comp-ventana-emergente [isOpen]="isModalOpen" [title]="modalTitle" [content]="modalContent"
    (close)="closeModal()"></comp-ventana-emergente>