<comp-header-gestion />

<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-7">
            <!-- card muestra stock -->
            <ng-template [ngIf]="selectedOption === 'optionTienda'">
                <comp-card-stock />
                <comp-barra-busqueda />
            </ng-template>

            <ng-template [ngIf]="selectedOption === 'optionProducto'">
                <comp-tabla />
            </ng-template>

        </div>

        <div class="col">
            <div class="form-check form-check-inline mx-5">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioTienda"
                    [(ngModel)]="selectedOption" value="optionTienda">
                <label class="form-check-label" for="radioTienda">Tiendas</label>
            </div>

            <div class="form-check form-check-inline mx-5">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioProducto"
                    [(ngModel)]="selectedOption" value="optionProducto">
                <label class="form-check-label" for="radioProducto">Productos</label>
            </div>

            <!-- botones crud -->
            <div class="mt-5">
                <ng-template [ngIf]="selectedOption === 'optionTienda'">
                    <comp-selectores />
                </ng-template>

                <ng-template [ngIf]="selectedOption === 'optionProducto'">
                    <comp-btn-crud [datosBotones]="datosBtn" />
                    <div style="padding-top: 49px;"></div>
                </ng-template>

            </div>

            <!-- boton codigo de barras -->
            <div class="col ms-5">
                <ng-template [ngIf]="selectedOption === 'optionTienda'">
                    <button type="button" class="mt-5 ms-5 boton">
                        Gestionar Tiendas <img src="/assets/tienda.svg" alt="">
                    </button>
                </ng-template>
            </div>
            <div class="col ms-2">
                <comp-btn-codigo-barras />
            </div>
        </div>
    </div>
</section>