<header-principal [datosHeader]="datosHeader"/>
<h1 class="text-center"><b>Descargar reportes</b></h1>
<section class="container mt-3">
    <div class="grid">
        <div class="grid-item salmon">
            <mat-form-field appearance="fill">
                <mat-label>Tiendas</mat-label>
                <mat-select (selectionChange)="mostrarCampo($event)">
                    <mat-option *ngFor="let tiempo of rangoDeTiempo" [value]="tiempo.id">
                        {{tiempo.opcion}}
                    </mat-option>
                </mat-select>
                <img matSuffix src="/assets/tienda.svg" alt="tienda">
            </mat-form-field>
            <ng-template [ngIf]="seleccionPatronVentas">
                <mat-form-field appearance="fill">
                    <mat-label>Rango de Tiempo</mat-label>
                    <mat-select (selectionChange)="mostrarCampo($event)">
                        <mat-option *ngFor="let reporte of reportes" [value]="reporte.id">
                            {{reporte.opcion}}
                        </mat-option>
                    </mat-select>
                    <img matSuffix src="/assets/tienda.svg" alt="tienda">
                </mat-form-field>
            </ng-template>
            <ng-template [ngIf]="seleccionPatronVentas">
                <label for="producto">Digita el id del producto</label>
                <input type="number" name="producto" id="producto">
            </ng-template>
        </div>

        <div class="grid-item broccoli">
            <img src="/assets/StockMasterAdminLogo2.png" alt="" style="opacity: 50%;">
            <button class="btn btn-primary">Gooool</button>
        </div>

        <div class="grid-item tamago">
            <p>Tamago</p>
        </div>
    </div>
</section>