<header-principal [datosHeader]="datosHeader" />
<h1 class="text-center"><b>Descargar reportes</b></h1>
<section class="container mt-3">
    <div class="grid">
        <div class="grid-item salmon">
            <mat-form-field appearance="fill">
                <mat-label>Tipo de reporte</mat-label>
                <mat-select (selectionChange)="seleccionarReporte($event.value)">
                    <mat-option *ngFor="let reporte of reportes" [value]="reporte.id">
                        {{ reporte.opcion }}
                    </mat-option>
                </mat-select>
                <img matSuffix src="/Stock-Master-Solutions_-SMS-/assets/tienda.svg" alt="tienda">
            </mat-form-field>

            <ng-template [ngIf]="reporteSeleccionado == '1'">
                <mat-form-field appearance="fill">
                    <mat-label>Rango de Tiempo</mat-label>
                    <mat-select (selectionChange)="seleccionarRango($event.value)">
                        <mat-option *ngFor="let tiempo of rangoDeTiempo" [value]="tiempo.id">
                            {{ tiempo.opcion }}
                        </mat-option>
                    </mat-select>
                    <img matSuffix src="/Stock-Master-Solutions_-SMS-/assets/tienda.svg" alt="tienda">
                </mat-form-field>
            </ng-template>

            <ng-template [ngIf]="reporteSeleccionado == '2'">
                <mat-form-field appearance="fill" class="medium-select">
                    <mat-label>Tiendas</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let tienda of tiendas" [value]="tienda.id" [(ngModel)]="tiendaSeleccionada">
                            {{tienda.tienda}}
                        </mat-option>
                    </mat-select>
                    <img matSuffix src="/Stock-Master-Solutions_-SMS-/assets/tienda.svg" alt="tienda">
                </mat-form-field>
                
            </ng-template>

            <ng-template [ngIf]="tiendaSeleccionada">
                <div class="form-check form-check-inline mx-5">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioTienda"
                        [(ngModel)]="opcionSeleccionada" value=1>
                    <label class="form-check-label" for="radioTienda">Productos Mas Vendidos</label>
                </div>
    
                <div class="form-check form-check-inline mx-5">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioProducto"
                        [(ngModel)]="opcionSeleccionada" value=2>
                    <label class="form-check-label" for="radioProducto">Productos Menos Vendidos</label>
                </div>
            </ng-template>

            <ng-template [ngIf]="rangoSeleccionado">
                <mat-form-field appearance="fill">
                    <mat-label>ID del producto</mat-label>
                    <input matInput type="number" [(ngModel)]="idProducto">
                </mat-form-field>
            </ng-template>

        </div>

        <div class="grid-item broccoli">
            <!-- <img src="/assets/StockMasterAdminLogo2.png" alt="" style="opacity: 50%;"> -->
            <canvas #lineChartCanvas></canvas>
            <div class="row">
                <div class="col">
                    <button class="boton" (click)="generarGrafica()">
                        Generar Gráfica
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-primary">Gooool</button>
                </div>
            </div>


        </div>

        <div class="grid-item tamago">
            <p>Tamago</p>
        </div>
    </div>
</section>