.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    height: 70vh;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
    background-color: #eee;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.salmon {
    grid-column: span 1;
    grid-row: span 1;
}

.broccoli {
    grid-column: span 2;
    grid-row: span 1;

}

.tamago {
    grid-column: span 1;
    grid-row: span 1;

}