<header-principal [datosHeader]="datosHeader" />
<ng-container>
    <section class="container-fluid mt-5">
      <div class="row">
        <div class="col-7">
          <!-- tabla productos -->
          <div class="container">
            <comp-tabla [datos]="datosTabla"/>
          </div>
          <!-- <comp-btn-codigo-barras/> -->
        </div>
  
        <div class="col">
          <!-- imagen producto -->
          <div class="container-fluid">
            <mat-card style="height: 65vh; width: 72vh;">
              <mat-card-content>
                <figure class="container">
                  <img [src]="urlImagen" alt="Imagen seleccionada">
                </figure>
              </mat-card-content>
            </mat-card>
          </div>
  
          <!-- boton modificar -->
          <div class="ms-5">
                  <button type="button" class="mt-5 ms-5 btnEliminar disabled"  [disabled]="!filaSeleccionada" (click)="eliminar()">
                    <b>Eliminar producto</b>
                  </button>
          </div>
        </div>
      </div>
    </section>
</ng-container>

<comp-ventana-emergente [isOpen]="isModalOpen" [title]="modalTitle" [content]="modalContent" (close)="closeModal()" />