<header-principal [datosHeader]="datosHeader" />
<ng-container>
    <section class="container-fluid mt-5">
      <div class="row">
        <div class="col-7">
          <!-- tabla productos -->
          <div class="container">
            <comp-tabla [datos]="datos" [seleccionable]="seleccionable" (selectionChange)="onSelectionChange($event)"></comp-tabla>
          </div>
          <comp-btn-codigo-barras/>
        </div>
  
        <div class="col">
          <!-- imagen producto -->
          <div class="container-fluid">
           <!--  <mat-card>
                <mat-card-content style="height: 500px; width: 400px;">

                </mat-card-content>
            </mat-card> -->
          </div>
  
          <div style="padding-top: 405px;"></div>
  
          <!-- boton modificar -->
          <div class="ms-5">
            <button type="button" class="mt-5 ms-5 btnEliminar disabled"  [disabled]="!selectedRow">
              <b>Eliminar producto</b>
            </button>
          </div>
        </div>
      </div>
    </section>
</ng-container>

  
