<div class="d-flex flex-column mt-5 ms-auto">
        <button *ngFor="let button of datosBotones"
                class="btnCRUD d-flex align-items-center justify-content-start text-center mt-3 w-auto">
                <img class="icon icon-adjusted me-3" [src]="'/assets/' + button.img" alt=""
                        [ngClass]="button.nombreClase" />
                <div class="flex-grow-1 text-center">
                        <span>{{button.texto}}</span>
                </div>
        </button>

</div>