.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.grid {
    display: grid;
    height: 80vh;
    width: 163vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    background-color: #eee;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Definir ubicaciones de los elementos en la cuadrícula */
.salmon {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #9989c4;
    padding: 16px;
    border-radius: 8px;
}

.broccoli {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #9989c4;
    padding: 16px;
    border-radius: 8px;
}

.tamago {
    grid-column: span 2;
    grid-row: span 3;
    /* background-color: #9989c4; */
    padding: 16px;
    border-radius: 8px;
}

.pork {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #9989c4;
    padding: 16px;
    border-radius: 8px;
}

.pork input[type="number"] {
    width: 13vh; /* Ancho del input */
    height: 5vh; /* Altura del input (igual al ancho para que sea cuadrado) */
    border-radius: 0; /* Quitar bordes redondeados si es necesario */
    box-sizing: border-box; /* Incluye borde y padding en el tamaño total */
    text-align: center; /* Centrar el texto dentro del input */
    font-size: 16px; /* Ajustar el tamaño del texto según sea necesario */
}

.edamame {
    grid-column: span 2;
    grid-row: span 1;
    background-color: #9989c4;
    padding: 16px;
    border-radius: 8px;
}

.tomato {
    grid-row: span 1;
    /* background-color: #9989c4; */
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    grid-column: span 4;
    justify-content: center;
}

.container img {
    width: 64vh;
    height: 38vh;
    object-fit: contain;
}

button:disabled {
    color: #666666; /* Color de texto gris oscuro */
    cursor: not-allowed; /* Cursor no permitido */
    opacity: 0.6; /* Opacidad reducida */
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 4px;
}