<header-principal [datosHeader]="datosHeader" />
<form [formGroup]="formInventario" (submit)="agregar()" class="container mt-5">
    <div class="grid">
        <!-- Grid Salmon -->
        <div class="salmon">
            <label for="idInventario">Inventario:</label>
            <input type="number" id="idInventario" formControlName="idInventario" min="1">
            <!-- <select formControlName="idInventario" id="idInventario">
                <option *ngFor="let inv of inventarios" [value]="inv.value">{{ inv.label }}</option>
            </select> -->
            <span *ngIf="formInventario.get('IdInventario')?.invalid && formInventario.get('IdInventario')?.touched">
                <small class="error">El IdInventario es requerido.</small>
            </span>
        </div>

        <!-- Grid Broccoli -->
        <div class="broccoli">
            <div class="row">
                <label for="productoId">Producto ID:</label>
                <input type="number" id="productoId" style="width: 30vh;" formControlName="productoId" min="1">
                <button type="button" class="boton ms-4" style="width: 13vh;" [disabled]="formInventario.get('productoId')?.disabled"
                    (click)="consultarProducto()">
                    Buscar
                </button>
            </div>
            <div class="row">
                <span *ngIf="formInventario.get('productoId')?.invalid && formInventario.get('productoId')?.touched">
                    <small class="error">El Producto ID es requerido y debe ser mayor a 0.</small>
                </span>
            </div>
        </div>

        <!-- Grid Tamago (Imagen) -->
        <div class="tamago">
            <mat-card style="height: 42vh; width: 72vh;">
                <mat-card-content>
                    <figure class="container">
                        <img [src]="urlImagen" alt="Imagen seleccionada">
                    </figure>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Grid Pork (Cantidad y Cantidad Mínima) -->
        <div class="pork">
            <div class="row">
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" formControlName="cantidad" min="1">
                <div class="col">
                    <span *ngIf="formInventario.get('cantidad')?.invalid && formInventario.get('cantidad')?.touched">
                        <small class="error">La Cantidad es requerida y debe ser mayor a 0.</small>
                    </span>
                </div>
            </div>
            <div class="row">
                <label for="cantidadMinima">Cantidad Mínima:</label>
                <input type="number" id="cantidadMinima" formControlName="cantidadMinima" min="1">
                <div class="col">
                    <span
                        *ngIf="formInventario.get('cantidadMinima')?.invalid && formInventario.get('cantidadMinima')?.touched">
                        <small class="error">La Cantidad Mínima es requerida y debe ser mayor a 0.</small>
                    </span>
                </div>
            </div>
            <div class="row">
                <label for="cantidadBodega">Cantidad en Bodega:</label>
                <input type="number" id="cantidadBodega" formControlName="cantidadBodega" min="1">
                <div class="col">
                    <span
                        *ngIf="formInventario.get('cantidadBodega')?.invalid && formInventario.get('cantidadBodega')?.touched">
                        <small class="error">La Cantidad en Bodega es requerida y debe ser mayor a 0.</small>
                    </span>
                </div>
            </div>

        </div>

        <!-- Grid Edamame -->
        <div class="edamame">
            <div class="row">
                <label for="ubicacionTienda">Ubicación en Tienda:</label>
                <input type="text" id="ubicacionTienda" formControlName="ubicacionTienda">
            </div>
            <div class="row">
                <span
                    *ngIf="formInventario.get('ubicacionTienda')?.invalid && formInventario.get('ubicacionTienda')?.touched">
                    <small class="error">La Ubicación en Tienda es requerida.</small>
                </span>
            </div>
        </div>

        <!-- Grid Tomato (Botón) -->
        <div class="tomato" style="text-align: center;">
            <button class="boton" type="submit" [disabled]="formInventario.invalid">Guardar</button>
        </div>
    </div>
</form>

<comp-ventana-emergente [isOpen]="isModalOpen" [title]="modalTitle" [content]="modalContent" (close)="closeModal()" />