<header-principal [datosHeader]="datosHeader"/>
<section class="mx-5 mt-5">
    <div class="align-items-center">

      <mat-accordion class="example-headers-align" multi>
        <!-- Cambiar inventarios por la tabla de alertas -->
        <mat-expansion-panel *ngFor="let alerta of alertas" [ngClass]="getAlertClass(alerta.descripcion.toLocaleLowerCase())">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Inventario ID: {{ alerta.inventarioId }} <!-- Mostrar el ID del inventario -->
            </mat-panel-title>
            <mat-panel-description>
               alerta del producto {{ alerta.productoId}}
            </mat-panel-description>
            <span class="badge me-2">{{ alertas.length }}</span>
          </mat-expansion-panel-header>
          <!-- Mostrar las alertas acumuladas como etiquetas -->
            <a class="alert-tag" (click)="seleccionProducto(alerta.productoId)">
              {{ alerta.descripcion }} <!-- {{ obtenerNombreProducto(alerta.productoId)}} -->
            </a>
        </mat-expansion-panel>
      </mat-accordion>
      
    </div>
</section>

<comp-ventana-emergente [isOpen]="isModalOpen" [title]="modalTitle" [content]="modalContent"
(close)="closeModal()" (accion)="redirigir()" [eventoPalabra]="eventoPalabra" [tieneAccion]="true">