<header-principal [datosHeader]="datosHeader"/>
<section class="mx-5 mt-5">
    <div class="align-items-center">
      <mat-accordion class="example-headers-align" multi>
        <!-- Cambiar inventarios por la tabla de alertas -->
        <mat-expansion-panel *ngFor="let group of groupedAlerts" [ngClass]="getAlertClass(group.alertas.length)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Inventario ID: {{ group.inventarioId }} <!-- Mostrar el ID del inventario -->
            </mat-panel-title>
            <mat-panel-description>
              {{ group.alertas.length }} alertas
            </mat-panel-description>
            <span class="badge me-2">{{ group.alertas.length }}</span>
          </mat-expansion-panel-header>
          <!-- Mostrar las alertas acumuladas como etiquetas -->
          <div *ngFor="let alerta of group.alertas">
            <a class="alert-tag" (click)="seleccionProducto(alerta.productoId)">
              {{ alerta.descripcion }} {{ alerta.productoId }}
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      
    </div>
</section>

<comp-ventana-emergente [isOpen]="isModalOpen" [title]="modalTitle" [content]="modalContent"
(close)="closeModal()" (accion)="redirigir()" [eventoPalabra]="eventoPalabra" [tieneAccion]="true">